<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end"  style="background:transparent" >
    <a class="navbar-brand" href="#">
        <img src="assets/cielogo.jpg" class="rounded" width="30" height="30" class="d-inline-block align-top" alt="">
        CIE
      </a>
  
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto " style="position:absolute;right:10px;"> 
        <li class="nav-item active" class="s">
          Home
        </li>
        <li class="nav-item" class="s" >
          Link
        </li>
        
      </ul>
     
    </div>
 
  </nav>