
<h1 class="head"> About </h1>
<div class="para">
    
The Centre for Innovation & Entrepreneurship (CIE) aims to foster a vibrant ecosystem for the creation and growth of enterprises.<br>

Three overarching objectives of the centre are:<br>
<ul>
<li>To create and disseminate research-based knowledge in the area of innovation and entrepreneurship that influences education, practice and policy for the emerging markets.</li>
<li>To utilize the knowledge and expertise to engage with business, government and society, and to contribute and promote entrepreneurial approaches to address socio-economic challenges of emerging markets.</li>
<li>To support entrepreneurial creation and growth aspirations in key sectors including technology commercialization in collaboration with internal and external partners.</li>
</ul>
</div>
<br><br><br>
<div class="mentor">
 Our mentor,<br>
 Our inspiration<br>
 <b class="sir_name">Sudarshan Badireddi</b><br>
 MSBR & Btech IIIT HYDERABAD<br>
</div>