

<div class="box">
  <form> 
      <h1 style="padding-left:100px;color: white;"><i class="fa fa-user fa-sm"></i>  Sign up</h1>
      <span class="input input--nao">
        <input class="input__field input__field--nao" type="text" id="input-1" />
        <label class="input__label input__label--nao" for="input-1">
          <span class="input__label-content input__label-content--nao">Username</span>
        </label>
        <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
          <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
        </svg>
      </span>
      <label > First name:</label><br>
      <input type= "text" required>
  
      <div class="inputbox" >
      <label>Last name:</label><br>
      <input type= "text"  required>
      </div>
      <div class="inputbox">
      <label >Email:</label><br>
         <input type="text" required>
      </div>
      <div class="inputbox" >
      <label >Password:</label><br>
      <input type= "text" required>
      </div>
      <div class="inputbox" >
         <label >Re-enter Password:</label><br>
         <input type="text" required>
        </div>
     
      <div class="inputbox" >
          <label > Mobile:</label><br>
          <input type= "text" required>
        </div>
      <div class="g">
     
      <select name="branch">
          <option>Select branch</option>
          <option>CSE</option>
          <option>ECE</option>
          <option>IT</option>
          <option>EEE</option>
          <option>MECH</option>
          <option>CIVIL</option>
      </select><br>
  </div>
      <div class="z">


<button type="submit"   class="signup-submit">Sign up <i class="fa fa-sign-in fa-sm"></i></button>     
</div> 
</form>
</div>