h1.home_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 70px;
    margin-top: 7%;
    
}

.title_container{
    text-align: center;
}

.home_signup{
    height: 50px;
    width: 120px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 9px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    color: white;
    padding-top: 8px;
}
.home_signup:hover{
    animation-name: home_signup_button;
    animation-duration: 10s;
}

@keyframes home_signup_button{
    0%{
        background-color: none;
        color: white;
    }
    4%{
        background-color: rgb(253, 253, 253);
        color: rgb(48, 48, 48);
        cursor: pointer;
    }
    100%{
        background-color: rgb(253, 253, 253);
        color: rgb(48, 48, 48);
    }
}